* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0.5px solid red;
}

.container {
    height: 100vh;
    display: flex;
}

.container-grid {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px 80px 80px 360px;
}

.container-horizontal {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}

.container-vertical {
    flex-grow: 1;
    
}

.popup-box {
    height: 280px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: brown;
    position: absolute;
    visibility: hidden;
}


